
backend/src/BankAccounts/Banking.BankAccounts.Presentation/obj/Debug/net8.0/Banking.BankAccounts.Presentation.AssemblyInfoInputs.cache
backend/src/BankAccounts/Banking.BankAccounts.Presentation/obj/Debug/net8.0/Banking.BankAccounts.Presentation.AssemblyInfo.cs
backend/src/BankAccounts/Banking.BankAccounts.Presentation/obj/rider.project.model.nuget.info
*.cache
*.cache
*.cs
backend/src/Shared/Banking.Framework/obj/Debug/net8.0/Banking.Framework.AssemblyInfoInputs.cache
*.cache
